# Todas as pastas
**/node_modules
**/.prettierrc.json
**/.vscode

# Pasta root
node_modules
package.json
package-lock.json
.prettierrc.json

#Arquivos com nome:
npm-debug.*

#Extensões de arquivos
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store